p, li {
    font-size: 18px;

}


 span {
  background-color: black;
  margin: 20vw;
}
.myimg{
  width:300px;
  height:300px;
  object-fit:cover;
  border-radius:50%;
}
body, html {
  height: 100%;
  margin: 0;
  color:lightgoldenrodyellow;
}

.bg {
  /* The image used */
  background-image: url("bg.jfif");
  margin: 0;
  /* Full height */
  height: 130vh; 

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}